.navbar-right(ng-controller='mvNavBarLoginController')
    form.navbar-form
        .form-group
            input.form-control(placeholder="Email@Somewhere.com", ng-model="username")
        .form-group
            input.form-control(placeholder="Pa$$word123", ng-model="password", type="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In