.navbar-right(ng-controller='mvNavBarLoginController as navBarCtrl')
    form.navbar-form(ng-hide="navBarCtrl.identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Email@Somewhere.com", ng-model="navBarCtrl.username")
        .form-group
            input.form-control(placeholder="Pa$$word123", ng-model="navBarCtrl.password", type="password")
        button.btn.btn-primary(ng-click="navBarCtrl.signin(navBarCtrl.username, navBarCtrl.password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="navBarCtrl.identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{navBarCtrl.identity.currentUser.firstName + " " + navBarCtrl.identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="navBarCtrl.identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li
                    a(href="", ng-click="navBarCtrl.signout()") Sign Out
