.container
    .jumbotron
        h1 Mean Tutorials
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales vulputate tempus. Curabitur rhoncus sagittis nulla id luctus. Nullam lobortis tortor vitae purus sollicitudin, sit amet vehicula mi commodo. Integer commodo gravida lorem, vel congue lorem porta eget. Cras facilisis nisl magna. Vestibulum a nisl tortor. Quisque aliquet mauris neque, eu venenatis eros aliquet nec. Sed faucibus, leo quis ultricies tristique, enim sem placerat dolor, eu aliquam metus velit at ligula. Suspendisse interdum at purus nec blandit. Integer semper mauris ac erat mattis interdum. Mauris sit amet purus turpis. Phasellus sit amet quam id quam posuere luctus eu nec velit. Donec facilisis sapien non enim maximus, hendrerit pretium leo porta. Nam pretium et nunc quis dapibus. Curabitur vulputate finibus massa et hendrerit. Morbi facilisis ligula vel mattis facilisis. In viverra turpis risus. Integer turpis nulla, fringilla sit amet convallis nec, mollis vel purus. Phasellus non bibendum enim. Quisque ultricies ac urna id volutpat. Maecenas purus quam, fringilla a auctor id, fringilla quis odio. Sed eu dui tempus, egestas augue nec, elementum neque. Nulla facilisi. Curabitur tincidunt mi eget convallis rhoncus. Proin vitae bibendum diam. Etiam a risus urna. Fusce tempus enim id convallis vestibulum. Etiam eros orci, condimentum vitae diam sed, pellentesque tristique mi. Aenean dapibus purus dolor, sit amet molestie lectus pretium id. Nam lacus purus, scelerisque eget elit eget, commodo rutrum lacus. Praesent at cursus diam.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
